.background {
  position:fixed;
  top: 3rem; left: 0;
  width: 100%;
  height: 100%;
  background: url('/assets/images/background6.png') no-repeat center/cover;
  z-index: -1;
}
.app-logo {
  height: 40px;
  margin: 0 auto; 
  display: block;
}

ion-tab-button.tab-selected ion-icon {
  color: #172c42 !important;
}

ion-tab-button ion-icon {
  color: #943da8c3 !important;
}

ion-tab-button.tab-selected ion-label {
  color: #172c42 !important;
}

ion-tab-button ion-label {
  color: #943da8c3 !important;
}