
.login-page {
  --background: #f2f2f2;
}

/* Container */
.login-container {
  min-height: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

/* Logo */
.logo {
  display: flex;
 margin: 6.5rem auto;
  width: 7rem;
  top: 1rem;
}



/* Title */
.title {
  text-align: center;
  font-weight: 700;
  margin-top: 3rem;
}

/* Buttons */
.buttons {
   --color: var(--ion-color-primary-contrast);
   height: 52px;   
    margin: 1rem;                  
}

.buttons ion-button {
   --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --border-width: 2px;
  --border-radius: 6px;
  height: 52px;
  font-weight: 500;
  margin-bottom: 12px;
}
:host {
  pointer-events: auto;
}

ion-page {
  pointer-events: auto;
}

ion-content {
  pointer-events: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 26rem;
}

/* Inputs */
.input-item {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  padding-inline: 8px;
    --border-width: 2px;
  --border-radius: 6px;
  height: 52px;
  margin: .1rem .5rem 0.1rem 0.5rem;
}

ion-input {
  --padding-start: 8px;
  --padding-end: 8px;
}

/* Forgot password */
.forgot {
  text-align: right;
  font-size: 0.85rem;
  margin: .1rem 1rem ;
}

/* Login button */
.login-btn {
  margin-top: 16px;
  height: 48px;
  --background: #000;
  --color: #fff;
  --border-radius: 4px;
  font-weight: 500;
}

