

ion-toolbar.toolbar-with-logo {
  --min-height: 120px;
  position: relative;
}

/* menu button */
.menu-btn {
  position: relative;
  z-index: 10;
  color: var(--ion-color-primary) !important;
}

/* logo */
.toolbar-logo {
  max-height: 50px;
  width: auto;
  object-fit: contain;
  cursor: pointer;
}

/* iOS */
.ios ion-title.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Android/Web (md) */
.md ion-toolbar.toolbar-with-logo ion-title.logo-title {
  position: absolute;
  inset: 0;
  text-align: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
left: 50%;
  transform: translateX(-50%);
}

.md ion-toolbar.toolbar-with-logo ion-title.logo-title .toolbar-logo {
  pointer-events: auto;
  
}

/* ===== Menu styling ===== */

ion-menu::part(backdrop) {
  background-color: transparent;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
  --background: var(--ion-color-primary-contrast) !important;
  box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
}

.custom-menu-header {
  --background: var(--ion-color-primary-contrast) !important;
  color: var(--ion-color-primary) !important;
  font-weight: 600;
}

.custom-menu-list {
  --background: var(--ion-color-primary-contrast) !important;
}

ion-menu ion-item {
  --background: var(--ion-color-primary-contrast) !important;
  --color: var(--ion-color-primary) !important;
  border-bottom: 1px solid #c0dce8 !important;
}

ion-menu ion-item.ion-activated,
ion-menu ion-item.ion-selected {
  --color: var(--ion-color-tertiary) !important;
}




