<ion-app>

 <ion-menu contentId="main-content" side="start" class="main-content">
  <ion-header>
    <ion-toolbar class="custom-menu-header">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="custom-menu-content">
    <ion-list class="custom-menu-list">
        <ion-item  routerLink="/home">Home</ion-item>
        <ion-item routerLink="/calendar">Plan & Schedule</ion-item>
        <ion-item routerLink="/enrolment">Enrolment</ion-item>
        <ion-item routerLink="/my-units">My Units</ion-item>
        <ion-item routerLink="/notifications">Notifications</ion-item>
      </ion-list>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button  (click)="openMenu()">
          <ion-icon class="menu" name="menu-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</div>

  <div class="logo-container" (click)="openHomePage()">
  <img class="app-logo" src="assets/images/logo.png" alt="App Logo">
</div>


  <div class="background"></div>
  
  <ion-router-outlet></ion-router-outlet>

  <app-bottom-nav></app-bottom-nav>
</ion-app>

