.logo-title {
display: flex;
  justify-content: center;
  align-items: center;

}

.toolbar-with-logo {
  --min-height: 120px;   /* default Ionic toolbar height */
  width: auto;
  display: block;

}

.toolbar-logo {
  max-height: 50px;
  object-fit: contain;
}


ion-menu::part(backdrop) {
  background-color: transparent;
}

ion-menu::part(container) {
  border-radius: 0 20px 20px 0;
 --background: #dcf1f8 ;
  box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
  
}

.custom-menu-header {
  --background: #dcf1f8 !important;
  color: #172c42 !important;
  font-weight: 600;
}

.custom-menu-list {
  background: #dcf1f8 !important;
}

ion-item {
    --background: #d8eef7 !important;
    color: #172c42 !important;
    border-bottom: 1px solid #c0dce8 !important; 

     &.item-selected,
    &:active {
      --color:#943da8c3 ;
    }
}

.menu{
     z-index: 4;
     margin-top:2rem  ; 
     margin-left: 2rem;
     color: #172c42;
     width:3rem ;
     padding: 0%;
     
}







