<ion-app>

  <!-- LOGIN / AUTH PAGES -->
  <ion-router-outlet ></ion-router-outlet>
  

  <!-- MAIN APP LAYOUT -->
  <ion-menu
  menuId="mainMenu"
  contentId="main-content"
  side="start"
  *ngIf="!hideChrome"

  
>
  <ion-header>
    <ion-toolbar class="custom-menu-header">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="custom-menu-content ion-padding">
    <ion-menu-toggle auto-hide="true">
      <ion-item *ngFor="let item of menuItems" [routerLink]="item.url">
        {{ item.title }}
      </ion-item>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

   
    <!-- MAIN PAGE -->
    <div class="ion-page" id="main-content">

      <ion-header>
        <ion-toolbar class="toolbar-with-logo menu">
          <ion-buttons slot="start">
            <ion-menu-button menu="mainMenu"></ion-menu-button>
          </ion-buttons>

      
        </ion-toolbar>
      </ion-header>

      <!-- MAIN ROUTER OUTLET (ALWAYS PRESENT) -->
      <ion-content class="ion-padding">
        <ion-router-outlet></ion-router-outlet>
      </ion-content>

    </div>

    <!-- BOTTOM NAV -->
   
<app-bottom-nav *ngIf="!hideChrome && role === 'student'"></app-bottom-nav>
<!--<app-parent-bottom-nav  *ngIf="!hideChrome && role === 'parent'"></app-parent-bottom-nav>-->
<app-teachers-bottom-nav *ngIf="!hideChrome && role === 'teacher'"></app-teachers-bottom-nav>

 

  <!-- BACKGROUND -->
  <div class="background"></div>

</ion-app>




