
.logo {
  width: 6rem;
  top: 0rem;
  margin: auto;
  display: flex;
}


.icons {
  text-align: center;
  color: #172c42;
  display: flex;
  flex-direction: column;
  align-items: center;         
}

.icons:focus{
  color: #943da8c3
}

.nav-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  z-index: 9999;  
   margin-bottom: .7rem;          
}

.icons ion-icon {
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.icons span {
  font-size: .9rem;
  text-wrap: nowrap;
}


//Welcome Banner

.welcome-text {
  position: absolute;
 margin: 6rem auto;
  width: 100%;
  text-align: center;
  color: var(--ion-color-primary);
}


.welcome {
  font-size: 1.4rem;
  font-weight: 700;
}

.greeting {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 8px 0;
}

.name {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 6px;
}

.message {
  font-size: 1.4rem;
  font-weight: 600;
}


