ion-tab-button.tab-selected ion-icon {
  color: #172c42 !important;
}

ion-tab-button ion-icon {
  color: #943da8c3 !important;
}

ion-tab-button.tab-selected ion-label {
  color: #172c42 !important;
}

ion-tab-button ion-label {
  color: #943da8c3 !important;
}