.form{
  border-radius: 20px ;
 --background: var(--ion-color-primary-contrast);
  background-color:var(--ion-color-primary-contrast) ;
  box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
  width: 90% ;
  margin: auto;
  overflow: hidden;
  top: 1rem;
  padding-top: 2rem;
}

.form ion-item {
  --background: transparent; 
  font-size: 1.2rem; 
}
.form ion-select {
  --background: transparent; 
  font-size: 1.2rem; 
}
.input{
    color: var(--ion-color-primary);
     font-size: 1.2rem;
}

.input ion-item{
    color: var(--ion-color-primary);
    font-size: 1.2rem;
}

.button{
    width: 50% ;
    margin-top: 1rem;
     right: 50%;
  transform: translateX(50%);
  font-size: 1.2rem;
}

.form-title{
     color: var(--ion-color-primary);
     font-size: 1.5rem;
     font-weight: 600;
text-align: center;
margin-bottom: 1rem;
}




