<ion-content fullscreen class="login-page">

  <div class="login-container">

    <!-- Logo -->
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>

    <!-- Title -->
   <ion-text color="primary">
  <h2 class="title">Choose your Path</h2>
</ion-text>


    <!-- Buttons -->
    <div class="buttons ion-text-secondary">
     <ion-button
  expand="block"
  fill="solid"
  class="login-btn"
  (click)="goInstituteLogin()"
>
  Login with Institute
</ion-button>


      <ion-button
        expand="block"
        fill="solid"
        (click)="goIndependentLogin()"
      >
        Login as Independent User
      </ion-button>
    </div>

  </div>

</ion-content>
