

.app-logo {
  height: 3.0rem;
  margin:3rem  auto; 
  display: block;
}

.icons {
  text-align: center;
  color: #172c42;
  display: flex;
  flex-direction: column;
  align-items: center;         
}

.icons:focus{
  color: #943da8c3
}


.nav-icons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  z-index: 9999;  
   margin-bottom: .7rem;          
}

.icons ion-icon {
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.icons span {
  font-size: .9rem;
  text-wrap: nowrap;
}


