




<form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
  
  
    <ion-item lines="none" class="input-item">
      <ion-input type="email" placeholder="E-mail" formControlName="email" required ></ion-input>
    </ion-item>

       <ion-item lines="none" class="input-item">
        <ion-input type="password" placeholder="Password" formControlName="password" required></ion-input>
      </ion-item>

        <div class="forgot">
        <ion-text color="primary">Forgot Password</ion-text>
      </div>

        <ion-button expand="block" fill="solid" class="buttons" type="submit">
        Login
        </ion-button>

  </form>