

<div><h2 class="page-title">Courses</h2></div>

<div class="page-padding">
  <ion-card class="course-card" *ngFor="let c of courses">
    <ion-card-header>
      <ion-card-title class="course-title">{{ c.title }}</ion-card-title>
      <ion-card-subtitle class="course-desc">{{ c.description }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2 class="page-title2">Units</h2>
      <div class="units-box" *ngIf="c.unitIds?.length">
        <ul class="units-list">
          <li *ngFor="let id of c.unitIds">{{ getUnitName(id) }}</li>
        </ul>
      </div>

      <ion-button expand="block" class="edit-btn" (click)="edit(c)">
        Edit/View
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>


<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="add-fab">
  <ion-fab-button routerLink="/add-new-course">
    <ion-icon
   class="plus"  name="add" >
</ion-icon>
  </ion-fab-button>
</ion-fab>
