.course-card {
  width: 90%;
  margin: 0 auto 1rem auto;   
  height: auto;
  border-radius: 20px;
  background: var(--ion-color-primary-contrast);
  box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-padding{
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

.page-title{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: var(--ion-color-primary);
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 50;
  width: calc(100% - 32px);
  text-align: center;
  pointer-events: none;
  margin-top: 0rem;
margin-bottom: 2rem;
}



.page-title2{
 text-align: center;
 color: var(--ion-color-primary);
 font-weight: 500;
 font-size: 1.2rem;
}

.course-title{
  color: var(--ion-color-primary);
  font-weight: 500;
}

.course-desc{
  color: var(--ion-color-primary);
}

.form-title {
  color: var(--ion-color-primary);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 12px 0;
}





.units-list{
  margin: 0;
  padding-left: 16px;
  color: var(--ion-color-primary);
}

.enroll-btn{
  height: 44px;
  
}

