
.page-title{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  color: var(--ion-color-primary);
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 50;
  width: calc(100% - 32px);
  text-align: center;
  pointer-events: none;
  margin-top: 0rem;
margin-bottom: 2rem;
}

.page-padding{
  margin-top: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 3rem;
}

.course-card {
  --background: var(--ion-color-primary-contrast);
  background: var(--ion-color-primary-contrast);
  border-radius: 18px;
  box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);

}

ion-content {
  --padding-bottom: calc(90px + env(safe-area-inset-bottom));
}


/* ✅ Title + description should wrap */
.course-title,
.course-desc{
  white-space: normal !important;
  overflow-wrap: anywhere;
  word-break: break-word;
  color: var(--ion-color-primary);
}

.course-desc{
  opacity: 0.9;
}

/* ✅ Units area scrolls, card does NOT grow */
.units-box{
  height: auto;
  
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.35);
  margin-bottom: 12px;
  margin-top: 10px;
}

.units-list{
  margin: 0;
  padding-left: 16px;
  color: var(--ion-color-primary);
}

.enroll-btn{
  height: 44px;
  
}

