.background-plain{
     background-color:var(--ion-color-primary-contrast) !important;
     border-radius: 1rem;
      box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
     width: 90%;
     max-height: 70vh;
     min-height: 65vh;
     margin: auto;
    transform: translateY(-40px);
   
}

.logo {
  width: 6rem;
  margin: auto;
  display: flex;
  bottom: 0%;
}


/* Center everything inside the card */
.profile-center {
  height: 100%;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;     /*  horizontal center */
  text-align: center;      /* text center */
  gap: 0.6rem;
}

.profile-title {
   margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--ion-color-primary);
}

.profile-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ion-color-primary);
}

.profile-role {
  margin-top: 0;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
  color: var(--ion-color-primary);
}

/* Image under role */
.profile-img {
  margin-top: 1rem;
  width: 35%;
  max-width: 260px;
  height: auto;
  display: block;
}

.upload-icon{
  color: var(--ion-color-primary);
  font-size: 1.4rem;
  margin: 0rem 2rem 0rem 2rem;
}

.upload-text{
  color: var(--ion-color-primary);
  font-size: .6rem;
  display: block;
}

.icons{
  display: flex;
}

.buttons{
  margin-top: 1rem;
  margin-bottom: .5rem;
}