.background-plain{
     background-color:var(--ion-color-primary-contrast) !important;
     border-radius: 1rem;
      box-shadow: 4px 0px 4px rgba(4, 4, 4, 0.18);
     width: 90%;
     max-height: 70vh;
     min-height: 70vh;
     margin: auto;
    transform: translateY(-40px);
    
}

.logo {
  width: 6rem;
  margin: auto;
  display: flex;
  bottom: 0%;
}


