

    

  <div class="nav-icons">

<div fill="clear" class="icons plan_schedule" aria-label="Plan & Schedule" routerLinkActive="active" routerLink="/teacher-calendar'">
  <ion-icon  aria-hidden="true"  md="calendar-outline" ios="calendar-sharp"></ion-icon>
  <span  >Plan &amp; Schedule</span>
</div>

<div fill="clear" class="icons" aria-label="Enrolment" routerLinkActive="active" routerLink="/teacher-enrolment'">
   <ion-icon aria-hidden="true" md="school-outline" ios="school-sharp"></ion-icon>
      <span >Enrolment</span>
</div>

<div fill="clear" class="icons" aria-label="My Units" routerLinkActive="active" routerLink="/teaching-units'">
  <ion-icon aria-hidden="true" md="book-outline" ios="book-sharp"></ion-icon>
      <span>Teaching Units</span>
</div>

<div fill="clear" class="icons" aria-label="Notifications" routerLinkActive="active" routerLink="/teacher-notifications'">
  <ion-icon aria-hidden="true" md="notifications-outline" ios="notifications-sharp"></ion-icon>
      <span>Notifications</span>
</div>

</div>

   

     
 

